.main-grid {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  perspective: 2000px;
  perspective-origin: center;
  transform-style: preserve-3d;

  .grid-space {
    position: relative;
    transform-style: preserve-3d;
  }

  .taken {
    visibility: hidden;
    border: 2px solid rgba(0, 0, 0, 0.1);
  }

  .ghost-piece {
    visibility: hidden;
    position: relative;
    background: linear-gradient(90deg, silver, silver, silver, grey);
    opacity: 0.3;
  }
}