.main-grid {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .grid-space {
    background: transparent;
  }

  .piece,
  .taken {
    border: 2px solid rgb(240, 240, 240)
  }

  .piece {
    position: absolute;
  }

  .ghost-piece {
    border: 2px solid;
    background: linear-gradient(90deg, silver, silver, silver, grey);
    opacity: 0.1;
  }
}