.main-grid {
  position: relative;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .grid-space {
    border: 1px solid black;
  }

  .active-block {
    position: absolute;
  }

  .pink {
    background-color: pink;
  }
}